<!--crear as paragens-->

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Criar Paragem</h2>
      <form class="container" method="post" action="http://localhost:5000/paragens/create">
        <div class="row">
          <div class="mb-3">
            <label for="paragem_nome" class="col-sm-2 col-form-label">Nome da Paragem:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="paragem_nome" name="paragem_nome" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="hora_paragem" class="col-sm-2 col-form-label">Hora da Paragem:</label>
            <div class="col-sm-10">
              <input type="time" class="form-control" id="hora_paragem" name="hora_paragem" required />
            </div>
          </div>
          <div class="mb-3">
            <div class="col-sm-6">
              <button type="submit" class="btn custom-btn">Criar paragem</button>&nbsp;
              <button type="reset" class="btn btn-secondary">Limpar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>