<!--crear as veagnes-->
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Criar Viagem</h2>
      <form class="container" method="post" action="http://localhost:5000/viagens/create">
        <div class="row">
          <div class="mb-3">
            <label for="origem" class="col-sm-2 col-form-label">Origem:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="origem" name="origem" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="destino" class="col-sm-2 col-form-label">Destino:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="destino" name="destino" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="data" class="col-sm-2 col-form-label">Data:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="data" name="data" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="hora_partida" class="col-sm-2 col-form-label">Hora de Partida:</label>
            <div class="col-sm-10">
              <input type="time" class="form-control" id="hora_partida" name="hora_partida" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="hora_chegada" class="col-sm-2 col-form-label">Hora de Chegada:</label>
            <div class="col-sm-10">
              <input type="time" class="form-control" id="hora_chegada" name="hora_chegada" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="capacidade" class="col-sm-2 col-form-label">Capacidade:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="capacidade" name="capacidade" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="preco" class="col-sm-2 col-form-label">Preço:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="preco" name="preco" required />
            </div>
          </div>
          <div class="mb-3">
            <div class="col-sm-6">
              <button type="submit" class="btn custom-btn">Criar viagem</button>&nbsp;
              <button type="reset" class="btn btn-secondary">Limpar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>