<!-- registro do utilizador-->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Registar</h2>
            <% if (typeof error !=='undefined' && error !==null) { %>
                <div class="alert alert-danger text-center">
                    <%= error %>
                </div>
            <% } %>
            <form method="post" action="http://localhost:5000/utilizadores/create">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
                </div>
                <div class="mb-3">
                    <label for="sobrenome" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Endereço de email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <label for="telemovel" class="form-label">Telemóvel</label>
                    <input type="number" class="form-control" id="telemovel" name="telemovel" placeholder="Telemóvel" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Palavra-passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Palavra-passe" required>
                </div>
                <button type="submit" class="btn custom-btn w-100">Registrar</button>
            </form>
        </div>
    </div>
</div>